/*color and font scheme*/
:root
{
    /*this is the color scheme*/
    --primary-color: #18206F;
    --secondary-color:  #FDFFFC;
    --third-color: #C41E3A;

    /*this is the typogoly scheme*/

}

/*website outline*/
body 
{
    margin: 0;
}

/*header*/
header 
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 1rem;
    text-align: center;
}

/*navigation bar*/
ul
{
    max-width: 1000px;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: var(--third-color);  
}

li
{
    float: left;
    width: 25%;
}

li a
{
    display: flex;
    color: var(--secondary-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}

li a:hover
{
    text-decoration: overline;
}

/*main*/
main
{
    display: grid;
    grid-template: auto / 60% 40%;
}

.card 
{
    background: var(--secondary-color);
    /*border design*/
    border: 5px solid;
    border-color: var(--third-color);
    border-radius: 12px;
    /*card design*/
    margin: 5rem 2rem;
    /*font design*/
    font-size: 24px;
}

h2
{
    background-color: var(--primary-color);
    color: white;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

/*introduction card*/
/*myself section*/
.introduce-me
{
    height: 50%;
}

.introduction
{
    float: left;
    padding: 15px;
    width: 60%;
}

.selfie
{
    max-width: 200px;
    align-items: right;
    padding: 15px;
}

/*state section*/
.introduce-state
{
    height: 50%;
}

/*resources card*/
.references
{
    text-align: center;
}

/*footer*/
footer 
{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}