/*color and font scheme*/
:root
{
    /*this is the color scheme*/
    --primary-color: #012597;
    --secondary-color:  #FFFFFF;
}

/*website outline*/
body 
{
    margin: 0;
}

/*this is the typogoly scheme*/
h1, h2, h3
{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;   
}

p
{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

/*header*/
header 
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 1rem;
    text-align: center;
}

/*navigation bar*/
ul
{
    max-width: 1000px;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-color);  
}

li
{
    float: left;
    width: 25%;
}

li a
{
    display: flex;
    color: var(--primary-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}

li a:hover
{
    text-decoration: underline;
}

/*main*/
main
{
    display: grid;
    grid-template: auto / 60% 40%;
}

.card 
{
    background: var(--secondary-color);
    /*border design*/
    border: 5px solid;
    border-color: var(--primary-color);
    border-radius: 12px;
    /*card design*/
    margin: 5rem 2rem;
    /*font design*/
    font-size: 24px;
}

h2
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

/*introduction card*/
.card-grid
{
    display: inline-flex;
}

/*myself section*/
.introduction
{
    padding: 15px;
}

.selfie, .flag
{
    margin: 15px;
    max-height: 200px;
}

/*state section*/
h3
{
    text-align: center;
    text-decoration: underline;
}

/*resources card*/
.references
{
    text-align: center;
}

/*footer*/
footer 
{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}